extends /base.pug
block prehead
  base(href="../")
block head
  style(type="text/css"): :stylus
    html,body
      font-family: BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif
      font-size: 14px; font-weight: 400; color: #334
    .dropdown-menu
      box-shadow: 0 4px 12px rgba(0,0,0,.1)
    .fvac
      display: flex
      align-items: center

    i.ldif
      font-size: 16px
      opacity: .8
      line-height: 1

    .icon
      width: 1em
      height: 1em
      border-radius: .5em
      background: #ddd
      margin-right: .5em

    .tabs
      display: flex
      align-items: center
      .tab
        padding: 1em 1.6em 1em 1.4em
        display: flex
        align-items: center
        border-bottom: 2px solid transparent
        &.active
          border-bottom-color: #f72

    .file-list
      .list-group-item
        display: flex
        align-items: center
        .name
          width: 8em
        .desc
          width: 8em
          flex: 1 0 auto

block body

  -
    var tabs = [
      ["code","Code", 0],
      ["exclamation-circle","Issues", 0],
      ["merge","Pull requests", 0],
      ["play-circle","Actions", 0],
      ["kanban","Projects", 0],
      ["book","Wiki", 0],
      ["shield","Security", 1],
      ["line-chart","Insights", 0],
      ["gear","Settings", 0]
    ]

  .w-100.bg-dark.text-light.fvac.p-3
    .icon(style="font-size:2em")
    input.form-control.form-control-sm.bg-dark.text-light.border-secondary(style="width:200px",placeholder="search or jump to ...")
    .mx-3 Pull Requests
    .mx-3 Issues
    .mx-3 Codespace
    .mx-3 Marketplace
    .mx-3 Explore
    .ml-auto
    i.ldif.i-bell.mx-3
    i.ldif.i-plus.mx-3
    i.ldif.i-question-circle.mx-3
    .icon.mx-3
  .w-100.bg-light(style="border-bottom:1px solid #ccc")
    .w-1024.rwd.mx-auto
      .py-4
        .fvac
          .text-lg.fvac.flex-grow-1
            .icon
            a(href="#") PlotDB
            span.mx-2 /
            a(href="#") ui.copycat
          .btn-group.ml-2.shadow-sm
            .btn-group
              .btn.btn-sm.btn-outline-secondary.fvac.dropdown-toggle(data-toggle="dropdown") #[i.ldif.i-eye-slash.mr-1] Unwatch
              .dropdown-menu
            .btn.btn-sm.btn-outline-secondary.bg-white 2
          .btn-group.ml-2.shadow-sm
            .btn.btn-sm.btn-outline-secondary.fvac #[i.ldif.i-star.mr-1] Star
            .btn.btn-sm.btn-outline-secondary.bg-white 56
          .btn-group.ml-2.shadow-sm
            .btn.btn-sm.btn-outline-secondary.fvac #[i.ldif.i-branch.mr-1] Fork
            .btn.btn-sm.btn-outline-secondary.bg-white 6
      .tabs
        each n,$index in tabs
          .tab(class=($index == 1 ? "active" : ""))
            i.ldif.mr-1(class=`i-${n[0]}`)
            .name= n[1]
            .notify

  .w-1024.rwd.mx-auto.my-4
    .row
      .col-md-9
        .alert.alert-warning.d-flex
          .flex-grow-1
            i.ldif.i-alert.mr-1
            b We found potential security vulnerabilities in your dependencies.
            .text-sm.text-muted Only the owner of this repository can see this message.
          div: .btn.btn-outline-secondary.bg-light See Dependabot alerts
        .d-flex.align-items-center.my-3
          .dropdown
            .btn.btn-outline-secondary.fvac.dropdown-toggle(data-toggle="dropdown") #[i.ldif.i-branch.mr-1] master
            .dropdown-menu
          .btn.btn-text.fvac #[i.ldif.i-branch.mr-1] 4 #[span.text-muted.ml-1 branches]
          .btn.btn-text.fvac #[i.ldif.i-tag.mr-1] 0 #[span.text-muted.ml-1 tags]
          .flex-grow-1
          .btn.btn-outline-secondary.mr-2 Go to file
          .dropdown
            .btn.btn-outline-secondary.mr-2.dropdown-toggle(data-toggle="dropdown") Add file
            .dropdown-menu.dropdown-menu-right
              .dropdown-item Create new file
              .dropdown-item Upload files
          .dropdown
            .btn.btn-success.dropdown-toggle.fvac(data-toggle="dropdown") #[i.ldif.i-download.mr-1] Code
            .dropdown-menu.dropdown-menu-right(style="width:300px")
              .px-4.py-3.border-bottom
                .fvac #[i.ldif.i-terminal.mr-3]#[.flex-grow-1 Clone]#[i.ldif-question-circle]
                .fvac.text-sm
                  .py-2.mr-3 HTTPS
                  .py-2.mr-3 SSH
                  .py-2.mr-3 GitHub CLI
                .input-group.mb-2
                  input.form-control.form-control-sm.bg-light
                  .input-group-append
                    .btn.btn-outline-secondary.fvac.py-0 #[i.ldif.i-clipboard]
                .text-muted.text-sm Work fast with our official CLI. #[a(href="#") Learn more.]
              .dropdown-item.fvac.py-3.border-bottom #[i.ldif.i-desktop.mr-3]#[.flex-grow-1 Open with Codespaces] #[i.ldif.i-dart-right]
              .dropdown-item.fvac.py-3 #[i.ldif.i-zip.mr-3]#[.flex-grow-1 Download ZIP]
        .card.mb-4
          .card-header.py-3(style="background:#def")
            .fvac
              .icon
              .flex-grow-1 #[b zbryikt] move attribution of sound files in README
              .text-success.mr-2: i.ldif.i-check
              .text-muted.mr-2 5739a19
              span.mr-2 on Dec 16, 2015
              i.ldif.i-history.mx-2
              span 14 commits


          .file-list.list-group.list-group-flush

            each n in ["assets","img","res","src","static/css"]
              .list-group-item
                i.ldif.i-folder.mr-2(style="opacity:.6")
                .name= n
                .desc Some Randome Description ...
                .time 5 years ago

            each n in ["README.md","LICENSE","main.ls","package.json"]
              .list-group-item
                i.ldif.i-file.mr-2(style="opacity:.6")
                .name= n
                .desc Some Randome Description ...
                .time 5 years ago

        .card.mb-4: .card-body
          .fvac.mb-4.pb-4
            .flex-grow-1: b README.md
            i.ldif.i-pen
            i.ldif.i-trashcan.ml-4
          div: :md
            # ui.copycat

            copy ui from various sites to learn how they design things.

      .col-md-3
        .fvac.my-3(style="font-size:1.2em")
          .flex-grow-1: b About
          i.ldif.i-gear
        p.text-muted No description, website, or topics provided.

        .fvac.my-3 #[i.ldif.i-link.mr-2] #[a(href="#") zbryikt.github.io/ui.copycat]
        .d-flex.flex-wrap.text-sm
          each n in ["mockup","copycat","ui"]
            a.mr-2(href="#",style="padding:.125em 1em;border-radius:2em;background:#def"): b= n
        .fvac.my-3 #[i.ldif.i-book.mr-2] Readme
        .fvac.my-3 #[i.ldif.i-certificate.mr-2] MIT License

        hr.my-4
        .fvac.my-3(style="font-size:1.2em")
          .flex-grow-1: b Release
        .text-muted No releases published
        a(href="#") Create a new release

        hr.my-4
        .fvac.my-3(style="font-size:1.2em")
          .flex-grow-1: b Packages
        .text-muted No packages published
        a(href="#") Publish your first package

        hr.my-4
        .fvac.my-3(style="font-size:1.2em")
          .flex-grow-1: b Contributors
          .rounded-circle.bg-light.text-center(style="line-height:1em;width:1em;height:1em;"): div(style="vertical-align:center;font-size:10px") 2
        .fvac.pb-2 #[.icon.mr-2.text-lg]#[span zbryikt]
        .fvac.pb-2 #[.icon.mr-2.text-lg]#[span tkirby]

        hr.my-4
        .fvac.my-3(style="font-size:1.2em")
          .flex-grow-1: b Languages

        .progress
          .progress-bar(style="width:50%")
          .progress-bar(style="width:30%;background:#9f9")
        .fvac.flex-wrap
          each n in ["HTML","CSS","JavaScript"]
            .item.fvac.text-sm.mr-4.mt-2
              .icon
              .name.mx-1= n
              .percent.text-muted 55%
  .w-1024.rwd.mx-auto.border-top.mt-4.py-4: .py-4.fvac.justify-content-between
    .fvac
      i.ldif.i-github.mr-2
      div © 2020 GitHub, Inc.
    a(href="#") Terms
    a(href="#") Privacy
    a(href="#") Security
    a(href="#") Status
    a(href="#") Help
    a(href="#") Contact GitHub
    a(href="#") Pricing
    a(href="#") API
    a(href="#") Training
    a(href="#") Blog

